{% extends "base.html.twig" %} 

    {% block body %}

         <h1>Salam Aleykoum {{prenom}}!</h1>

        <p>Le meilleur joueur est : {{ Joueur.prenom}} {{ Joueur.nom}}</p> 
        
    {% endblock %}
        {# remplace l'onglet welcome par hello #}
    {% block title %}
        Hello
    {% endblock %}

    
   
