{% extends "base.html.twig" %} 

    {% block body %}

         <h1>Salam Aleykoum {{prenom}}!</h1>
        
        
        
    {% endblock %}
        {# remplace l'onglet welcome par hello #}
    {% block title %}
        Hello
    {% endblock %}

    
   
