{% extends "base.html.twig" %} 

    {% block body %}

         <h1>Salam Aleykoum {{prenom}}!</h1>
         <h2><strong>Nos Joueurs</strong></h2>

        {% include "_joueur.html.twig" with {"Joueur": Joueur1} %}
        {% include "_joueur.html.twig" with {"Joueur": Joueur2} %}
        
        
    {% endblock %}
        {# remplace l'onglet welcome par hello #}
    {% block title %}
        Hello
    {% endblock %}

    
   
